### Python Assignment - 1

#### Baisc Variable creation
1. create a variable to store your name and print it.

In [7]:
FirstName = "Bikesh"
LastName = "Prajapati"

In [9]:
print(FirstName, LastName)

Bikesh Prajapati

2. Create two integer variables and print their sum

In [22]:
num1 = 34
num2 = 45

In [34]:
sum = num1 +num2
print(sum)

79

3. Create three float variables and print their avergage

In [38]:
Float1 = 12.9
Float2 = 14.7
Float3= 16.9

In [40]:
sum = Float1 + Float2 + Float3
Avg = sum /3

In [42]:
print(Avg)

14.833333333333334

4. Store your age in a variable and print it.

In [45]:
MyAge = 27
print(MyAge)

27

5. Create a varibale that stores a boolen value (True or False) and print it.

In [48]:
active = True
inactive = False

In [50]:
print(active)

True

In [52]:
print(inactive)

False

#### Working with Basic Operation 
6. Create two integer variables and print their multiplication

In [55]:
 int1 = 34
int2 = 56
 multipication = int1 * int2
print(multipication)

1904

7. Create a float variable and add 10 to it. Print the result.

In [58]:
float1= 56.90
print(float1 + 10)

66.9

8. Create two variables containing numbers. Print which one is greater

In [61]:
Num1 = 98
Num2 = 68

In [69]:
if Num1 > Num2:
    print("Number one is greater")
else:
    print("Number two is greater")

Number one is greater

9. Create a variable that stores a number. Print the number plus 5

In [72]:
 number = 58
print(number + 5)

63

10.Create two variable with numbers and print their difference.

In [75]:
Number1 = 56
Number2 = 23
diff = Number1 - Number2
print(diff)

33

#### String Variables
11. Create a variable containing a sentence and print it.

In [78]:
 line = "I am learnign ML and AI"
print(line)

I am learnign ML and AI

12. Store your school name in variable and print it twice.

In [81]:
schoolName= "Pragra"
print(schoolName)
print(schoolName)

Pragra
Pragra

13. Create a variable to store your friend's name and print "Hello" followed by that variablem

In [84]:
 friendName = "Charli"
print("Hello ", friendName)

Hello  Charli

14. Create two string varibale frist_name and last_name, and print them together.

In [89]:
first_name = "Cornner"
last_name = "Wales"
print(first_name, last_name)

Cornner Wales

15. Store a word in a variable and print its length using len() ( this is allowed since it's not a string method)

In [94]:
word = "happy"
print(len(word))

5

### 5 Theory Question - Variables and Data Types
##### 1. What is a variable in Python?

A variable is a name used to store data in a program. It allows us to save values so we can use them later.

##### 2. What are the main data types in Python?

Some main data types in Python are:
Integer (int)
Float (float)
String (str)
Boolean (bool)

##### 3. What is the difference between an integer and a float?

An integer is a whole number (no decimal), like 5 or -10.
A float is a number with a decimal point, like 3.5 or 2.0.

##### 4. What is a string? Give two examples.

A string is a sequence of characters used to store text.
Examples:
"Hello"
"Python Programming"

##### 5. What is a boolean data type used for?

A boolean data type is used to store True or False values.
It is commonly used for making decisions in programs (like checking conditions).