### Python Assignment - 3

#### Section A : EASY (10 Questions)
Type Casting(1-5)
1. Convert the string "100" into an integer and print the result.

In [10]:
Number = "100"

print(int(Number))
print(type(int(Number)))

100
<class 'int'>

2. Convert the integer 25 into a float

In [14]:
Num = 25

print(float(Num))
print(type(float(Num)))

25.0
<class 'float'>

3. Convert the float 9.8 into an integer

In [19]:
 Rate = 9.8

print(int(Rate))
print(type(int(Rate)))

9
<class 'int'>

4. Convert the number 50 inot a string and print its type

In [22]:
number  = 50

print(str(number))
print(type(str(number)))

50
<class 'str'>

5. Convert the string "12.5" into a float and add 2.5 to it

In [25]:
Score = "12.5"

print(float(Score) + 2.5)

15.0

Dictinaries (6-10)

6. Create a dictionary with keys: name, age, and city, and print it.

In [29]:
 Profile = dict( name = "harry", age = 25, city = "Toronto")

print(Profile)

{'name': 'harry', 'age': 25, 'city': 'Toronto'}

7. Access and print the value of the key age from  a dictonary.

In [36]:
Profile_Age = Profile['age']

print(Profile_Age)

25

8. Add a new key country to an exisitng dictionary.

In [39]:
Profile['country'] = "Canada"

print(Profile)

{'name': 'harry', 'age': 25, 'city': 'Toronto', 'country': 'Canada'}

9. Update the value of an exisitng key in a dictionary.

In [42]:
Profile.update( age = 30)

print(Profile)

{'name': 'harry', 'age': 30, 'city': 'Toronto', 'country': 'Canada'}

10. print all the keys of a dictionary

In [55]:
print(Profile.keys())

dict_keys(['name', 'age', 'city', 'country'])

#### Section B: Medium (10 Question)
Type Casting (11-15)

11. Take two strings "10" and "20", convert them into integers, and print their sum..

In [60]:
Num1 = "10"
Num2 = "20"

print(int(Num1) +int(Num2))

30

12. Convert a list of strings ["1", "2", "3"] into a list of integers.

In [69]:
numbers = ["1","2", "3"]

new_list = list()
for n in numbers:
    new_list.append((int(n)))

print(new_list)

[1, 2, 3]

13. Convert the integer 0 into a boolean and print the result.

In [75]:
 num = 0

print(bool(num))

False

14. Convert the float 0.0 into a boolean and print the result.

In [79]:
Float_number = 0.0

print(bool(Float_number))

False

15. Convert a boolean True into an integer and print the output.

In [84]:
 Value = True

print(int(Value))

1

Dictionaries (16 -20)

16. Create a dictionary of 3 students with their marks and print the dictionary.

In [97]:
Studnet_info = dict( Harry = 85, Celin = 68, Robert = 90)

print(Studnet_info)

{'Harry': 85, 'Celin': 68, 'Robert': 90}

17. Check whether a key exists in a dictionary.

In [111]:
if "Harry" in Studnet_info:
    print("key exists")

else:
    print("Key doesnot exists")


print(Studnet_info.get('Conner',"Key doesnot exist"))

key exists
Key doesnot exist

18. Iterate through a dictionary and print all keys and values.

In [117]:
for key, values in Studnet_info.items():
    print(f"{key} = {values}")

Harry = 85
Celin = 68
Robert = 90

19. Remove a key from a dictionary.

In [126]:
Studnet_info.popitem()
print(Studnet_info)

{'Harry': 85}

20. Count the number of key-value pairs in a dictionary.

In [128]:
count = len(Studnet_info)
print(count)

1