### Python Assignment -2

#### Section A : Easy (10 Questions)
1. Create a string variable with your name and print it.

In [3]:
Name = 'Bikesh'
print(Name)

Bikesh

2.Store a string "PYthon" and print its length

In [6]:
Code = 'Python'
print(len(Code))

6

3. Create two string variables and join them using the + operator.

In [11]:
First_Name = 'Hello'
Last_Name = 'World'

print(First_Name +" "+ Last_Name)

Hello World

4. Store a word and print it 3 times using an operator.

In [112]:
word = "Welcome"

print(word *3)

WelcomeWelcomeWelcome

5. Given a string "hello World", print only "hello"

In [114]:
text = 'Hello World'

print(text[:5])

Hello

6. Create a string and print its first and last character.

In [25]:
city = 'Toronto'

print(city[0])
print(city[-1])

T
o

7. Check whether the word "Python" exists in the string "I am learning Python".

In [35]:
sentence = 'I am learning Python'

sentence.find('Python')

14

8. Store a string with extra spaces at the beginning and end and remove the spaces.

In [38]:
Word = "  Start  "

print(Word.strip())

Start

9. Convert the string "Python" to uppercase

In [41]:
Coding_Lang = 'Python'

print(Coding_Lang.upper())

PYTHON

10. Count how many times the letter "a" appears in "Banana"

In [44]:
Fruit = "Banana"

print(Fruit.count("a"))

3

#### Section B: Medium (10 Questions)
11. Given a string "Python Programming", print "Programming" using slicing.

In [57]:
Prog_Lang = 'Python Programming'

print(Prog_Lang[7:])

Programming

12. Store a string and check whether it starts with "Py"

In [108]:
text = 'Python'

print(text.startswith('Py'))

True

13.Store a string and check whether it ends with ".py".

In [110]:
test = "coding.py"

print(test.endswith('.py'))

True

14. Replace "Java" with "Python" in the string "I like Java".

In [98]:
msg = "I like java"

print(msg.replace("java","Python"))

I like Python

15. Split the string "apple, banana, orange" into a list

In [70]:
fruits = "apple, banana, orange"

fruit_list = list(fruits.split(","))
print(fruit_list)

['apple', ' banana', ' orange']

16.. join the list ["I", "Love", "Python"] into a single string.

In [102]:
Msg = ["I", "Love", "Python"]

print(" ".join(Msg))

I Love Python

17. Find the index of "data" in the string "big data engineering".

In [94]:
course = 'big data engineering'

print(course.find('data'))

4

18. Compare two strings and print True if they are equal.

In [90]:
name1 = 'Harry'
name2 = 'Joker'
name3 = 'harry'
name4 = 'harry'

print( name1 == name2)
print (name1 == name3)
print (name3 == name4)

False
False
True

19. Use logical operators to check if a number is greater than 10 and less than 50.

In [92]:
a = 56

print( a>10 and a<50)

if a>10 and a <50:
    print("True")
else:
    print("False")

False
False

20. Use arithmetic operators to calculate the result of (20 + 10) * 2.

In [86]:
x = 20
y = 10

calc = (x+ y) *2

print(calc)

60